* {
    margin: 0;
    padding: 0;
}

/* Header/Nav Bar */

.bg-blue{
    background: #000324;
}

.nav-boarder{
    border: 2px solid white;
    border-radius: 0%;
    opacity: 1;

}


/* Luxury Image */

.pool-image{
    width: 100%;
    height: 500px;
   
}

.header{
    position: absolute;
    top: 250px;
    left: 27.5%;

    
    color: #E5FEFF;
    background-color: #000324cc;

    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Awards */

.award-image{
    height: 419px;
    width: 369px;
}

.award-icon{
    width: 200px;
    height: 193px;
}


/* Reservations */

.reservation-text{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 60px;
    font: normal normal normal 35px/44px Dosis;
}

.reservation-background{
    height: 738px;
    width: 100%;
    position: absolute
}

.image-cards{
    height: 522px;
    width: 369px;
}

.card-margin{
    margin-top: 150px;
}


/*Packages */

.package-margin{
    margin-top: 125px;
}

.package-image{
    width: 561px;
    height: 234px;
}


/* Amenities */

.amen-background{
    width: 1920px;
    height: 548px;
    
}

.amen-icon img{
    width: 100%;
    height: 101px;
    object-fit: contain;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

amen-


.reserve-image{
    width: 1137px;
    height: 414px;
}